<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <title>Account Information</title>
</head>
<body>
    <h1>Account Information</h1>

    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <p>
	<a href="my_bookings/">View Bookings</a>
    </p>

    <p>
	<a href="https://www.bookmethisasap.com/appointments/">New Booking</a>
    </p>

    <!-- Link to logout -->
    <form action="{% url 'logout' %}" method="post">
	{% csrf_token %}
	<button type="submit">Log out</button>
    </form>
</body>
</html>

