<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <title>My Bookings</title>
</head>
<body>
    <h1>My Bookings</h1>
    <p>
	<a href="https://www.bookmethisasap.com/account/">My Account</a>
    </p>
    {% if appointments %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Court</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.appointment_id }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.court }}</td>
                        <td>{{ appointment.notes }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no bookings.</p>
    {% endif %}
</body>
</html>

